<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		<settings>
			<setting name="autoMappingBehavior" value="FULL" />
			<!-- 开启驼峰命名法 -->
		 	<setting name="mapUnderscoreToCamelCase" value="true" /> 
		 	<!-- 设置但JDBC类型为空时,某些驱动程序 要指定值,default:OTHER --> 
 			<setting name="jdbcTypeForNull" value="NULL" />  
		</settings>
<!-- 	<properties> -->
<!-- 		<property name="dialect" value="mysql" /> -->
<!-- 	</properties> -->
<!-- 	<settings> -->
<!-- 		<setting name="logImpl" value="LOG4J" /> -->
<!-- 	</settings> -->
	
	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<!--包下的所有实体类配置别名,MyBatis默认的设置别名的方式就是去除类所在的包后的简单的类名-->
		<package name="com.bsoft.model"/>
	</typeAliases>
	<!-- 实体接口映射资源 -->
	<!-- 说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="mysql" />
			<!-- 该参数默认为false 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 和startPage中的pageNum效果一样 -->
			<property name="offsetAsPageNum" value="true" />
			<!-- 该参数默认为false 设置为true时，使用RowBounds分页会进行count查询 -->
			<property name="rowBoundsWithCount" value="true" />
			<!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 （相当于没有执行分页查询，但是返回结果仍然是Page类型） -->
			<property name="pageSizeZero" value="true" />
			<!-- 默认值为 false。设置为 true 时，允许在运行时根据多数据源自动识别对应方言的分页 （不支持自动选择sqlserver2012，只能使用sqlserver）。 -->
			<property name="autoRuntimeDialect" value="true" />
			<!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 
				禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
			<property name="reasonable" value="true" />
			<!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 
				可以配置pageNum,pageSize,count,pageSizeZero,reasonable,不配置映射的用默认值 -->
			<property name="params"
				value="pageNum=start;pageSize=limit;pageSizeZero=zero;reasonable=heli;count=contsql" />
		</plugin>
	</plugins>
	
</configuration>  